/* BODY */
body {
    background: rgb(160, 82, 45);
    background: radial-gradient(circle, rgba(160, 82, 45, 1) 0%, rgba(51, 51, 51, 1) 100%);
}

/* LOGO */
.logo {
    box-shadow: 2px 4px 8px #333;
}

.logo:hover {
    box-shadow: 2px 4px 8px #ddd;
}

/* NABVBAR */
/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: left;
}

/* Add a black background color to the top navigation */
.topnav {
    background: rgb(160, 82, 45, 0.5);
    background: radial-gradient(circle, rgba(160, 82, 45, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%);
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 60px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: transparent;
    color: white;
}

.topnav a.active:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* HEADER */
header {
    background: rgb(160, 82, 45);
    background: radial-gradient(circle, rgba(160, 82, 45, 1) 0%, rgba(51, 51, 51, 1) 100%);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    font-size: 56px;
}

h2 {
    margin: 20px;
    font-size: 48px;
    color: white;
}

h3 {
    color: white;
    font-size: 36px;
    margin: 20px;
}

/* PARALLAX */
.container {
    align-items: center;
}

.parallax {
    /* The image used */
    background: url("../img/yogab&w1.avif");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lorem {
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px black;
    margin: 60px;
}

/* ABOUT PAGE*/
ul {
    list-style-type: none;
}

ul li {
    background-color: rgb(160, 82, 45, 0.725);
    height: auto;
    width: 100px;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    box-shadow: 2px 4px 8px black;
    border-radius: 15px; 
    text-align: center;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li:hover {
    box-shadow: 2px 4px 8px white;
}

ul li a:hover {
    color: #333;
}

/* BACK TO TOP */
.backtotop {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.backtotop:hover {
    color: white;
}

/* FLIP CARDS */
.flip-card {
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 1000px;
    margin-left: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
}

/* CLASSES WE OFFER - CARDS */
.container-fluid {
    display: inline-flex;
}

.card {
    margin-left: 55px;
}

/* FOOTER */
footer {
    padding: 60px;
    margin-top: 100px;
}

/* logo */
.split2 {
    float: right;
}